# Fire up Pandas

We always start with this line before using any part of pandas

In [1]:
import pandas as pd

# Load a tabular data set

In [2]:
df = pd.read_csv('people_wiki.csv')

In [3]:
df

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...
...,...,...,...
59066,<http://dbpedia.org/resource/Olari_Elts>,Olari Elts,olari elts born april 27 1971 in tallinn eston...
59067,<http://dbpedia.org/resource/Scott_F._Crago>,Scott F. Crago,scott francis crago born july 26 1963 twin bro...
59068,<http://dbpedia.org/resource/David_Cass_(footb...,David Cass (footballer),david william royce cass born 27 march 1962 in...
59069,<http://dbpedia.org/resource/Keith_Elias>,Keith Elias,keith hector elias born february 3 1972 in lac...
59070,<http://dbpedia.org/resource/Fawaz_Damrah>,Fawaz Damrah,fawaz mohammed damrah arabic fawwz damra was t...

In [4]:
no_of_rows = len(df)
no_of_rows

59071

<font color='steelblue'><b> Quiz : How many rows are there in people_wiki? </b></font>

<font color='mediumvioletred'><b> Answer : There are {{no_of_rows}} rows in people_wiki </b></font>

In [5]:
last_name = df['name'].tail(1).values
str(*last_name)

'Fawaz Damrah'

<font color='steelblue'><b> Quiz : Which name is in the last row? </b></font>

<font color='mediumvioletred'><b> Answer : {{str(*last_name)}} is the name in last row </b></font>

In [6]:
harpdog_brown = list(df['text'][df['name'] == 'Harpdog Brown'])
honored_with = None

if any('life time membership to the hamilton blues society' in s for s in harpdog_brown) :
    honored_with = 'life time membership to the hamilton blues society'

elif any('grammy award for his lastest blues album' in s for s in harpdog_brown) :
    honored_with = 'grammy award for his lastest blues album'
    
elif any('a gold harmonica to recognize his innovative playing style' in s for s in harpdog_brown) :
    honored_with = 'a gold harmonica to recognize his innovative playing style'
    
honored_with

'life time membership to the hamilton blues society'

<font color='steelblue'><b> Quiz : Read the text column for Harpdog Brown. He was honored with: </b></font>

<font color='slategray'><b>
* life time membership to the hamilton blues society
* grammy award for his lastest blues album
* a gold harmonica to recognize his innovative playing style
</b></font>

<font color='mediumvioletred'><b> Answer : Harpdog brown was honored with {{honored_with}} </b></font>

In [7]:
sorted_df_name = df.sort_values('text', ascending=True)['name'].iloc[0]
sorted_df_name

'108 (artist)'

<font color='steelblue'><b> Quiz : Sort the DataFrame according to the text column, in ascending order. What is the name entry in the first row? </b></font>

<font color='mediumvioletred'><b> Answer : {{sorted_df_name}} is the first name in DataFrame sorted by text in ascending order </b></font>